<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @news.subtitle %>
</p>

<p>
  <strong>Body:</strong>
  <%= @news.body %>
</p>

<p>
  <strong>Date:</strong>
  <%= @news.date %>
</p>
<p>
  <% @news.comments.each do |comment| %>
      <p>
  Name: <%= comment.name %>  Comment: <%= comment.comment %>
      </p>

  <% end %>

</p>
<p>
  <%= form_for ([@news, @news.comments.build]) do |f| %>
      <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :comment %>
        <%= f.text_area :comment %>
        <div class="actions">
          <%= f.submit %>
          <% end %>
</p>



<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', root_path %>
